!!! 5
html
  head
    title Transform your Walls with Affordable Large-Scale Mural Art
    meta(name="description", content="J&J Mural creates beautiful, affordable art for homes, businesses and institutions across Los Angeles and Orange County.")
    link(rel="icon", type="image/x-icon", href="favicon.ico")
    link(href="http://fonts.googleapis.com/css?family=Jacques+Francois", rel="stylesheet")
    link(rel="stylesheet",href="css/styles.css")
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  body.home
    #wrap
      header
        nav
          #logo-container
            a(href='#/home', data-nav="home")#logo
          ul#main-nav
            li.category-about
              h2 About Us
              a(href="#/our-mission", data-nav='our-mission') Our Mission
              a(href="#/about-jj", data-nav='about-jj') About J&amp;J
              a(href="#/about-artist", data-nav='about-artist') About The Artist
            li.category-services
              h2 Our Services
              a(href="#/services", data-nav='services') Services
              a(href="#/how-it-works", data-nav='how-it-works') How It Works
              a(href="#/faq", data-nav='faq') FAQ
            li.category-work
              h2 Our Work
              a(href="#/murals", data-nav='murals') Murals
              a(href="#/fine-art", data-nav='fine-art') Fine Art
              a(href="#/custom-art", data-nav='custom-art') Custom Art
            li.empty &nbsp;

      h1#section-title

      include partials/home
      include partials/about-jj
      include partials/our-mission
      include partials/about-artist
      include partials/services
      include partials/how-it-works
      include partials/faq
      include partials/murals
      include partials/fine-art
      include partials/custom-art
      include partials/contact

    include partials/footer

    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-46045445-1', 'jjmural.com');
      ga('send', 'pageview');

    script(src="js/vendor.js")
    script(src="js/scripts.min.js")

