!!! 5
html
  head
    title Transform your Walls with Affordable Large-Scale Mural Art
    meta(name="description", content="J&J Mural creates beautiful, affordable art for homes, businesses and institutions across Los Angeles and Orange County.")
    link(rel="icon", type="image/x-icon", href="favicon.ico")
    link(href="http://fonts.googleapis.com/css?family=Jacques+Francois", rel="stylesheet")
    link(rel="stylesheet",href="css/styles.css")
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->          
  body.home
    #wrap
      header
        nav
          #logo-container
            a(href='#', data-nav="home",data-context="index")#logo
          ul#main-nav
            li.category-about 
              h2 About Us
              a(href="#", data-nav='our-mission',data-context="nav") Our Mission
              a(href="#", data-nav='about-jj',data-context="nav") About J&amp;J
              a(href="#", data-nav='about-artist',data-context="nav") About The Artist
            li.category-services
              h2 Our Services
              a(href="#", data-nav='services',data-context="nav") Services
              a(href="#", data-nav='how-it-works',data-context="nav") How It Works
              a(href="#", data-nav='faq',data-context="nav") FAQ
            li.category-work
              h2 Our Work
              a(href="#", data-nav='murals',data-context="nav") Murals
              a(href="#", data-nav='fine-art',data-context="nav") Fine/Portrait Art
              a(href="#", data-nav='framed',data-context="nav") Framed Art
            li.empty &nbsp;

      h1#section-title

      include partials/home
      include partials/about-jj      
      include partials/our-mission
      include partials/about-artist
      include partials/services
      include partials/how-it-works
      include partials/faq
      include partials/murals
      include partials/fine-art
      include partials/framed
      include partials/contact

    include partials/footer


    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
    script(src="js/fancybox.pack.js")
    script(src="js/placeholder.js")
    script(src="js/parsley.js")
    script(src="js/scripts.min.js")        

