$color-sand = #dbd8c6
$body-brown = #352c25

$trans-gray       = rgba(76,77,79,0.7)
$trans-dark-sand  = rgba(37,32,17,0.7)
$trans-light-sand = rgba(144,139,124,.58)
$trans-white      = rgba(246,239,233,0.3)

$text-header   = #444133
$text-inactive = #8e8e8e

font-sans() 
  font-family 'Lucida Grande','Lucida Sans Unicode', Tahoma, sans-serif