html
  margin     0
  padding    0
  overflow-x hidden
  overflow-y auto
body
  margin      0
  padding     0
  line-height 1
  background  #fff
  font-family 'Jacques Francois', serif
  font-size   16px
  font-weight normal
  color       #939393
  overflow-x  hidden
  overflow-y  auto
  background  url(../img/bg-texture.png) repeat-y 0 0
  @media      screen and (max-width:640px)
    background-image none

ul
ol
  margin     0
  padding    0
  list-style none

.dn
  display none
.cl
  clearfix()
small
  display block

#wrap
  min-height    100%
  margin-bottom -64px
  &:after
    content ''
    display block
    height  64px

section
  display      none
  padding-left 290px
  padding-top  58px
  position     relative
  min-height   460px
  width        910px
  @media       screen and (max-width:1024px)
    width 670px
  @media screen and (max-width:640px)    
    width       100%
    min-height  inherit
    padding 30px 20px
    box-sizing   border-box

  &.is-active
    display block
  &>p
    line-height   1.8
    margin-bottom 30px
    a
      color $text-body-link


.answer
  position relative
  padding-left 30px
  &:before
    content  'A.'
    position absolute
    left     0
