#contact-box
  float  left
  width  290px
  border solid 1px #000

#contact-form
  clearfix()
  float left
  padding 10px 0 20px
.row
  margin-bottom 20px
  position      relative
  clearfix()
.input-wrap
  height       36px
  width        400px
  display      inline-block
  margin-right 20px
  @media screen and (max-width:1024px)
    margin-bottom 20px 

input[type="text"]
textarea
select
  width      100%
  height     100%
  padding    0 10px
  font-size  16px
  box-sizing border-box
  background #fff
  &.parsley-error
    background #e3cece
  &.parsley-success
    background #cee3e3

select
  height 36px
  border solid 1px #bbb
textarea
  height 200px
  resize none
  padding 10px

.parsley-error-list
  position    absolute
  font-size   10px
  padding-top 5px
#submit-btn
  width       auto
  padding     0 10px
  line-height 40px
  height      40px
  border      none
  font-size   18px
  box-shadow  0 2px 3px rgba(0,0,0,0.3)
  cursor      pointer
  background  $button-background
  font-family 'Jacques Francois', serif
  color       #fff

