#contact-box
  float  left
  width  290px
  border solid 1px #000

#contact-form
  clearfix()
  padding  10px 0 20px
  overflow hidden
.row
  margin-bottom 20px
  position      relative
  clearfix()
.input-wrap
  height       36px
  width        400px
  display      inline-block
  margin-right 20px
  @media       screen and (max-width:1024px)
    margin-bottom 20px 
  @media screen and (max-width:768px) 
    width 100% 
.textarea-wrap
  width        400px
  height       auto
  display      inline-block
  margin-right 20px
  @media       screen and (max-width:1024px)
    margin-bottom 20px 
  @media screen and (max-width:768px) 
    width 100%       

input[type="text"]
textarea
select
  width      100%
  height     100%
  padding    0 10px
  font-size  16px
  box-sizing border-box
  background #fff
  border solid 1px #bbb  
  &.parsley-error
    background #e3cece
  &.parsley-success
    background #cee3e3

select
  height 36px
textarea
  height 200px
  resize none
  padding 10px

.parsley-error-list
  position    absolute
  font-size   10px
  padding-top 5px
input[type="submit"]
  width              auto
  padding            0 10px
  -webkit-appearance none
  line-height        40px
  height             40px
  border             none
  font-size          18px
  box-shadow         0 2px 3px rgba(0,0,0,0.3)
  cursor             pointer
  background         $button-background
  font-family        'Jacques Francois', serif
  color              #fff
  clearfix()
  @media screen and (max-width:640px)
    display block
    margin 0 auto

