header
  height     293px
  background url(../img/bg-header.jpg) center 0 no-repeat
  transition background-position 0.4s ease-in-out
#main-nav
  &>li
    display inline-block
    width 290px
    background rgba(0,0,0,.5)
    &.is-active
      background none
  a
    display block
