#intro
  color      $color-sand
  width      910px
  height     170px
  box-sizing border-box
  padding    35px 0 0 48px
  background $trans-gray
  position   relative
  @media screen and (max-width:640px)
    width         100%
    padding       20px
    text-align    center
    height        100%
    margin-bottom 20px
  &>h1
    font-size     50px
    margin-bottom 15px
    @media screen and (max-width:640px)
      font-size 40px
  &>h2
    font-size 28px
    @media screen and (max-width:640px)
      font-size   24px
      line-height 1.5

#home-nav
  width      318px
  height     230px
  box-sizing border-box
  border     solid 8px rgba(93,90,78,0.7)
  position   absolute
  right      -30px
  top        -30px
  padding    60px 55px 55px 25px
  @media screen and (max-width:640px)
    display none

.home-nav-link
  font-size       24px
  display         block
  color           $color-sand
  margin-bottom   23px
  background      url(../img/sprite.png) no-repeat 100% 0
  text-decoration none
  height          17px
  line-height     17px
  &.active
  &:hover
    color #fff
    background-position 100% -17px
