#intro
  color      $color-sand
  width      910px
  height     170px
  box-sizing border-box
  padding    35px 0 0 48px
  background $trans-gray
  position   relative
  &>h1
    font-size     50px
    margin-bottom 15px
  &>h2
    font-size 28px

#home-nav
  width      318px
  height     230px
  box-sizing border-box
  border     solid 8px rgba(93,90,78,0.7)
  position   absolute
  right      -30px
  top        -30px
  padding    60px 55px 55px 25px

.home-nav-link
  font-size       24px
  display         block
  color           $color-sand
  margin-bottom   23px
  background      url(../img/sprite.png) no-repeat 100% 0
  text-decoration none
  height          17px
  line-height     17px
  &.active
  &:hover
    color #fff
    background-position 100% -17px
