body.about
  header
    background-position center 0
  section.about
    display block
  section.work
  section.services
    display none

body.services
  header
    background-position center -293px
  section.services
    display block
  section.about
  section.work
    display none    
body.work
  header
    background-position center -586px
  section.work
    display block
  section.about
  section.services
    display none    