$header-height = -294px
body.home
  background url(../img/bg-home.jpg) no-repeat
  background-size cover
  &>header
    background none
  &>section
    padding-left 0

body.category-about
  header
    background-position 0 0

body.category-services
  header
    background-position 0 $header-height
   
body.category-work
  header
    background-position 0 $header-height * 2

body.category-contact
  header
    background-position 0 $header-height *3 