body.category-about
  header
    background-position center 0

body.category-services
  header
    background-position center -293px
   
body.category-work
  header
    background-position center -586px  