$tab-stroke = solid 5px #e8ded6

.btn-pin
  display    block
  text-align center

.work-tabbed-nav
  border-bottom $tab-stroke
  width         1070px
  margin-bottom 40px
  clearfix()  
  @media screen and (max-width:1024px)
    width 740px
  @media screen and (max-width:640px)
    width 100% 
    border-bottom none
    margin-bottom 20px

.work-tab
  float         left
  padding-top   20px
  padding-left  20px
  width         240px
  background    #eaeaea
  height        59px
  box-sizing    border-box
  font-size     20px
  color         $text-inactive
  margin-right  1px
  cursor        pointer
  margin-bottom -5px
  background url(../img/work-tabs.png) 0 50%
  @media screen and (max-width:640px)
    padding-left  10px
    padding-right 10px
    padding-top   16px
    width         auto
    background    #eaeaea
    border        solid 3px #eaeaea
    margin-bottom 3px
  @media screen and (max-width:380px)
    padding-left  7px
    padding-right 7px
    font-size     17px
  &:hover
  &.is-active
    background-position 0 0 
    color         $text-header
    @media screen and (max-width:640px)
      border     solid 3px #e8ded6
      background #fff
    &>a
      color $text-header
  &.tab-fine-art
  &.tab-framed
    &.is-active
    &:hover
      background-position 0 100%
  &>a
    text-decoration none
    color           $text-inactive
    display         block
    width           100%
    height          100%



.work-list
  width         1070px
  @media screen and (max-width:1024px)
    width 740px
  @media screen and (max-width:640px)
    width 100%
.work-item
  width         330px
  height        180px
  display       inline-block
  margin-right  40px
  margin-bottom 40px
  position      relative
  overflow      hidden
  cursor        pointer
  @media screen and (min-width:1024px)
    &:nth-child(3n+3)
      margin-right 0
  @media screen and (max-width:640px)
    display block
    margin-right 0
    margin-bottom 20px
  @media screen and (max-width:380px)
    max-width 100%    

.desc
  width            100%
  height           100%
  position         absolute
  left             0
  top              0
  background       $trans-dark-sand
  margin-left      -330px
  transition       margin-left 0.2s ease-in-out
  text-decoration  none
  .work-item:hover &
    margin-left 0

.title
.type
.dimension
  color #fff
  padding 0 20px
  opacity 0
  transition opacity 0.4s 
  .work-item:hover &
    opacity 1

.title
  font-size      20px
  padding-top    20px
  padding-bottom 20px
.type
.dimension
  font-sans()
  margin-bottom 10px