$tab-stroke = solid 5px #e8ded6

.work-tabbed-nav
  border-bottom $tab-stroke
  width         1070px
  @media screen and (max-width:1024px)
    width 740px
  margin-bottom 40px
  clearfix()
.work-tab
  float         left
  padding-top   20px
  padding-left  20px
  width         240px
  background    #eaeaea
  height        59px
  box-sizing    border-box
  font-size     20px
  color         $text-inactive
  margin-right  1px
  cursor        pointer
  margin-bottom -5px
  background url(../img/work-tabs.png) 0 50%
  &:hover
  &.is-active
    background-position 0 0 
    color         $text-header
    &>a
      color $text-header
  &.tab-fine-art
  &.tab-framed
    &.is-active
    &:hover
      background-position 0 100%
  &>a
    text-decoration none
    color           $text-inactive
    display         block
    width           100%
    height          100%



.work-list
  width         1070px
  @media screen and (max-width:1024px)
    width 740px
.work-item
  width         330px
  height        180px
  display       inline-block
  margin-right  40px
  margin-bottom 40px
  position      relative
  overflow      hidden
  cursor        pointer
  @media screen and (min-width:1024px)
    &:nth-child(3n+3)
      margin-right 0



.desc
  width            100%
  height           100%
  position         absolute
  left             0
  top              0
  background       $trans-dark-sand
  margin-left      -328px
  transition       margin-left 0.2s ease-in-out
  text-decoration  none
  .work-item:hover &
    margin-left 0

.title
.type
.dimension
  color #fff
  padding 0 20px
  opacity 0
  transition opacity 0.4s 
  .work-item:hover &
    opacity 1

.title
  font-size      20px
  padding-top    20px
  padding-bottom 20px
.type
.dimension
  font-sans()
  margin-bottom 10px