section#section-about-jj
  h1.section-title About Us
  h2.page-title About J&amp;J
  p When she was three years old, Jay Yun Yoon&rsquo;s grandmother hung an Impressionist painting of a vibrant pond on a bright summer&rsquo;s 
    |day on her bedroom wall. From that day forward, Jay Yun developed an enthusiastic appreciation for art and paintings. She is 
    |fascinated in how a few brushstrokes and color can bring joy and reverence to a person&rsquo;s life. And while she loves portraits 
    |and framed artwork, she believes the BIGGER and BOLDER, the better!
  p Through Jay&rsquo;s extensive travels and experiences, she found people with similar passion to art. They would explain that 
    |while they would have loved to adorn the walls of their homes and businesses with art, the cost and quality of murals had dissuaded
    | them. Many purchased canvas prints exported from China, resulting in an cheap and soulless copy and an &ldquo;artificial&rdquo; look. 
    | What if there was a service that was inexpensive and interactive, providing convenient support and expert advice, resulting 
    | in a art piece that is truly personal and endearing?
  p Jay Yun&rsquo;s mission was now clear, but she needed the artist to help execute her vision. She needed a talented artist that 
    |was devoted to their craft, patient and perceptive, someone who can lead others to realizing their individual vision and
    | creativity. No person met her needs more than her own art instructor and mentor, and after meeting for coffee and scones 
    |in a quaint cafe on a lovely Saturday afternoon, a partnership was born!


