section#section-about-artist
  h1.section-title About Us  
  h2.page-title About The Artist
  p With over 20 years experience, Jay Lee specializes in high-quality custom hand painted period and contemporary murals, 
    |children&rsquo;s murals, watercolors, and portraits. Jay is comfortable with many types of media but prefers to work with 
    |safe but quality acrylics. Art is his true passion. Incorporating old world fine art techniques, his devotion
    |to art and attention to details allows Jay to achieve elegance and realism in his work.
  p Originally from Korea, Jay Lee was trained and worked with many renowned artists from Italy, France, the United States and Russia.
  p His work is inspired by artists old and new, by creative and passionate people, by friends, colleagues and clients. His goal is 
    |to grow as an artist and a person, to share his passion and creativity, and to add  beauty to our world through his work.
  p It is important to him to understand and integrate various views and diverse cultural backgrounds of her clients into his 
    |work. He believes that art helps bring people together as it is a beautiful and powerful form of communication.
