section#section-contact
  h2.page-title Contact Us
  p Start the journey to beautifying your space. We are here to answer your questions, receive feedback and accept requests. 
  #contact-box
    p Jay Yoon / JJ Consultant
    p (213) 555-555
  form#form(method="", action="")
    .row
      label Name
      .input-wrap
        input(type="text")
    .row
      label Email
      .input-wrap
        input(type="text")
    .row
      label Phone
      .input-wrap
        input(type="text")
    .row
      label I'm Interested In
      .input-wrap
        select
          option Murals
          option Portraits
          option Fine Art
          option Art Lessons
          option Other
    .row
      label Message
      .input-wrap
        textarea
    .row
      .input-wrap
        input(type="submit") Send