section#section-contact
  h1 Contact Us
  p We strive to create beautiful affordable art for homes, businesses and institutions. 
    | A brilliantly designed mural can transform your space, inspiring and delighting all who witness it.  
    | We seek to create an atmosphere that ignites the imagination, with special care taken to engage you 
    | in the creative process. We aim to make it accessible for everyone, you don’t need a big budget to have
    | captivating art in your space!