section#section-custom-art
  h1.section-title Our Work  
  ul.work-tabbed-nav
    li(data-nav="murals").work-tab.tab-murals: a(href='#/murals') Interior Murals
    li(data-nav="fine-art").work-tab.tab-fine-art: a(href='#/fine-art') Fine Art
    li(data-nav="custom-art").work-tab.is-active.tab-framed Custom Art
  ul.work-list
    li.work-item
      a.desc(href="img/work-fine-full-03.jpg",rel="group-fine")     
        .title Landscape
        .type Watercolor
        .dimension 30" x 22"
      img(src='img/work-fine-tn-03.jpg',alt="")  
    li.work-item
      a.desc(href="img/work-fine-full-04.jpg",rel="group-fine")      
        .title Landscape
        .type Watercolor
        .dimension 30" x 22"
      img(src='img/work-fine-tn-04.jpg',alt="")
    li.work-item
      a.desc(href="img/work-fine-full-05.jpg",rel="group-fine")
        .title Landscape
        .type Watercolor
        .dimension 30" x 22"
      img(src='img/work-fine-tn-05.jpg',alt="")    
    li.work-item
      a.desc(href="img/work-framed-full-02.jpg",rel="group-framed")
        .title Landscape
        .type Oil
        .dimension 32" x 26"
      img(src='img/work-framed-tn-02.jpg',alt="")
    li.work-item
      a.desc(href="img/work-fine-full-07.jpg",rel="group-fine")
        .title Portrait of Client's Home
        .type Watercolor
        .dimension 30" x 22"
      img(src='img/work-fine-tn-07.jpg',alt="")         
                       
