section#section-faq
  h1.section-title Our Services  
  h2.page-title FAQ
  h3 Who designs the mural, me or the artist?
  p You have two options. The first option is to provide the artist input by sharing a painting or picture you&rsquo;ve made or 
    |seen elsewhere. The second option allows the artist to suggest a design that would work best in your space. Either way, 
    |the artist will provide sketches and help you envision the final piece in a process that is simple, fun and engaging.
  h3 How big can the mural be?
  p BIG! We specialize in large-scale murals that cover the entire walls of your space. Let us know where you&rsquo;re thinking
    | of adding artwork and we&rsquo;ll let you know how big and beautiful it can be!
  h3 Do you only paint in private homes?
  p Absolutely not! We paint in businesses and institutions, from medical offices to public school classrooms and administrative buildings.
    | Maybe you have a coffee shop in need of a makeover, or you work in a library that needs a pop of color. Wherever a drop of paint
    | can be applied, we can make it happen! 
  h3 How long will my mural last?
  p Many conditions can affect the mural quality and duration. Indoors/outdoors, the material its painted on, the paint itself, 
    |temperature, and other factors will determine the longevity of your mural. However, we&rsquo;ll take great care to ensure your 
    |mural lasts as long as possible. A good expectation is 15-20 years of pristine condition for an exterior mural, and a lifetime
    |of beauty for interior pieces.
  h3 What if I move out of my place in a few years? Is it still worth it to have a mural on my wall?
  p We can paint on a canvas instead. There are many methods to insure your art can be transported to a new home. 
    |For more details and information, please schedule a free consultation with us.
  h3 What kind of paint do you use for your murals?
  p However, if you prefer a certain look or essence that isn&rsquo;t easily captured with acrylics, we have the knowledge and experience 
    |to work in whichever medium appeals to you. 
  h3 What if I&rsquo;m not satisfied with the work?
  p J&amp;J Mural Art is proud to offer a 100% satisfaction guarantee. We work with you at every stage of the process, addressing 
    |any concerns along the way. Our number one priority is your satisfaction, and with constant communication throughout the
    |creative process, you&rsquo;ll be ensured an unforgettable experience.
