section#section-fine-art
  h1.section-title Our Work  
  ul.work-tabbed-nav
    li(data-nav="murals").work-tab Interior Murals
    li(data-nav="fine-art").work-tab.is-active Fine/Portrait Art
    li(data-nav="framed").work-tab Framed Art
  ul.work-list
    li.work-item
      a.desc(href="img/work-fine-full-01.jpg",rel="group")
        .title Mural of a Lake Somewhere
        .type Oil
        .dimension 24x24
      img(src='img/work-fine-tn-01.jpg',alt="")
    li.work-item
      a.desc(href="img/work-fine-full-02.jpg",rel="group")
        .title You Don't Say
        .type Acrylic
        .dimension 24x24
      img(src='img/work-fine-tn-02.jpg',alt="")
    li.work-item
      a.desc(href="img/work-fine-full-03.jpg",rel="group")     
        .title A FRIEND!!
        .type Tempura
        .dimension 24x24
      img(src='img/work-fine-tn-03.jpg',alt="")  
    li.work-item
      a.desc(href="img/work-fine-full-04.jpg",rel="group")      
        .title Red Cape
        .type Watercolor
        .dimension 24x24
      img(src='img/work-fine-tn-04.jpg',alt="")
    li.work-item
      a.desc(href="img/work-fine-full-05.jpg",rel="group")
        .title Nicholas Cage is not a good actor
        .type Oil
        .dimension 24x24
      img(src='img/work-fine-tn-05.jpg',alt="")
    li.work-item
      a.desc(href="img/work-fine-full-06.jpg",rel="group")
        .title Forever Alone
        .type Oil
        .dimension 24x24
      img(src='img/work-fine-tn-06.jpg',alt="") 
    li.work-item
      a.desc(href="img/work-fine-full-07.jpg",rel="group")
        .title Forever Alone
        .type Oil
        .dimension 24x24
      img(src='img/work-fine-tn-07.jpg',alt="") 
                   
