section#section-fine-art
  h1.section-title Our Work  
  ul.work-tabbed-nav
    li(data-nav="murals").work-tab.tab-murals: a(href='#/murals') Murals
    li(data-nav="fine-art").work-tab.tab-fine-art.is-active Fine Art
    li(data-nav="custom-art").work-tab.tab-framed: a(href='#/custom-art') Custom Art
  ul.work-list
    li.work-item
      a.desc(href="img/work-fine-full-01.jpg",rel="group-fine")
        .title Abstract
        .type Oil
        .dimension 40" x 50"
      img(src='img/work-fine-tn-01.jpg',alt="")
    li.work-item
      a.desc(href="img/work-fine-full-02.jpg",rel="group-fine")
        .title Still-life Painting
        .type Oil
        .dimension 8" x 10"
      img(src='img/work-fine-tn-02.jpg',alt="")
    li.work-item
      a.desc(href="img/work-fine-full-06.jpg",rel="group-fine")
        .title Landscape
        .type Watercolor
        .dimension 30" x 22"
      img(src='img/work-fine-tn-06.jpg',alt="") 
    li.work-item
      a.desc(href="img/work-framed-full-01.jpg",rel="group-framed")
        .title Landscape
        .type Oil
        .dimension 32" x 26"
      img(src='img/work-framed-tn-01.jpg',alt="")
    li.work-item
      a.desc(href="img/work-fine-full-08.jpg",rel="group-framed")
        .title Fine Art
        .type Oil
        .dimension 48" x 48"
      img(src='img/work-fine-tn-08.jpg',alt="")
    li.work-item
      a.desc(href="img/work-fine-full-09.jpg",rel="group-framed")
        .title Landscape
        .type Oil
        .dimension 32" x 26"
      img(src='img/work-fine-tn-09.jpg',alt="")              
                   
