footer

  .footer-wrap
    #contact-btn
      #contact Contact Us
      #contact-tab
        p.first Start the journey to beautifying your space.
        p Jay Yoon / JJ Consultant <br /> (213) 555-555 <br /><a href="mailto:info@jj-mural.com">info@jj-mural.com</a>
        a.contact-tab-button(href="#/contact") Contact Us Form
          span.btn-arrow
    .right-side
      #social Find Us On
        //- a.social-link.yelp(href="#") Yelp
        a.social-link.facebook(href="https://www.facebook.com/jj.mural",target="_blank") Facebook
        a.social-link.pinterest(href="http://www.pinterest.com/jjmural/",target="_blank") Pinterest
        a.social-link.instagram(href="http://instagram.com/jjmural",target="_blank") Instagram
      #copyright &copy;JJMURAL.COM All Rights Reserved.
