footer
 
  .footer-wrap
    #contact-btn
      #contact Contact Us
      #contact-tab
        p.first Start the journey to beautifying your space.
        p Jay Yoon / JJ Consultant
        p (213) 555-555
        a.contact-tab-button.contact-link(href="#") Contact Form 
    .right-side
      #social Find Us On
        a.social-link.yelp(href="#") Yelp
        a.social-link.facebook(href="#") Facebook
        a.social-link.pinterest(href="#") Pinterest
        a.social-link.instagram(href="#") Instagram
      #copyright &copy;JJMURAL.COM All Rights Reserved.
