section#section-framed
  h1.section-title Our Work  
  ul.work-tabbed-nav
    li(data-nav="murals").work-tab.tab-murals: a(href='#/murals') Interior Murals
    li(data-nav="fine-art").work-tab.tab-fine-art: a(href='#/fine-art') Fine/Portrait Art
    li(data-nav="framed").work-tab.is-active.tab-framed Framed Art
  ul.work-list
    li.work-item
      a.desc(href="img/work-framed-full-01.jpg",rel="group-framed")
        .title Landscape
        .type Oil
        .dimension 32" x 26"
      img(src='img/work-framed-tn-01.jpg',alt="")
    li.work-item
      a.desc(href="img/work-framed-full-02.jpg",rel="group-framed")
        .title Landscape
        .type Oil
        .dimension 32" x 26"
      img(src='img/work-framed-tn-02.jpg',alt="")
                       
