section#section-home.is-active
  #intro 
    h1 Transform Your Walls 
    h2 With Affordable Custom Mural Paintings
    #home-nav 
      a.home-nav-link(href="#",data-nav="murals") Interior Murals
      a.home-nav-link(href="#",data-nav="fine-art") Fine/Portrait Art
      a.home-nav-link(href="#",data-nav="framed") Framed Art