section#section-home.is-active
  #intro 
    h1 Transform Your Walls 
    h2 With Affordable Custom Mural Paintings
    #home-nav 
      a.home-nav-link(href="#") Interior Murals
      a.home-nav-link(href="#") Fine/Portrait Art
      a.home-nav-link(href="#") Framed Art