section#section-home.is-active
  #intro 
    h1 Transform Your Walls 
    h2 With Affordable Large-Scale Mural Art
    #home-nav 
      a.home-nav-link(href="#",data-nav="murals",data-context="home") Interior Murals
      a.home-nav-link(href="#",data-nav="fine-art",data-context="home") Fine/Portrait Art
      a.home-nav-link(href="#",data-nav="framed",data-context="home") Framed Art