section#section-home.is-active
  #intro 
    h1 Transform Your Walls 
    h2 With Affordable Large-Scale Mural Art
    #home-nav 
      a.home-nav-link(href="#/murals",data-nav="murals") Interior Murals
      a.home-nav-link(href="#/fine-art",data-nav="fine-art") Fine Art
      a.home-nav-link(href="#/framed",data-nav="custom-art") Custom Art