section#section-how-it-works
  h1.section-title Our Services  
  h2.page-title How It Works
  p Creating a masterpiece for your space has never been easier! We take great pride in providing an enjoyable and satisfying
    | experience for our customers. Here are the <strong>3 Basic Steps</strong> to having your creative vision realized:
  h3 1. Free Consultation
  p We&rsquo;ll visit and see the site (if you prefer, you may also visit our Orange County studio). We&rsquo;ll get to know you, see what 
    |you like and what you don&rsquo;t, and suggest the best strategy for your piece. We then provide a hand-drawn sketch to help your
    |vision come alive. Finally, we&rsquo;ll provide a quote and move on to step two!
  h3 2. Custom Design
  p Working closely together with you, we develop and refine the design until you&rsquo;re 100% satisfied. We will correspond through email, texts,
    |phone calls or in-person meetings, whichever you prefer. Our goal is to finalize your vision with little intrusion to your daily routine
    |(we know you&rsquo;re busy, we work around YOUR schedule). No brush stroke is made until you love what you see!
  h3 3. Your Mural Is Painted!
  p Now, the fun begins! We can paint directly in your home, or at our studio on a canvas. Time will vary based on project, but before 
    |you know it, you&rsquo;ll have your very own masterpiece to marvel over! 
  p For additional details or questions, please <a href="#" class="contact-link">contact us</a> anytime!
