section#section-murals
  h1.section-title Our Work  
  ul.work-tabbed-nav
    li(data-nav="murals").work-tab.is-active Interior Murals
    li(data-nav="fine-art").work-tab Fine/Portrait Art
    li(data-nav="framed").work-tab Framed Art
  ul.work-list
    li.work-item
      a.desc(href="img/work-mural-full-01.jpg",rel="group")
        .title Mural of a Lake Somewhere
        .type Oil
        .dimension 24x24
      img(src='img/work-mural-tn-01.jpg',alt="")
    li.work-item
      a.desc(href="img/work-mural-full-02.jpg",rel="group")
        .title You Don't Say
        .type Acrylic
        .dimension 24x24
      img(src='img/work-mural-tn-02.jpg',alt="")                       