section#section-murals
  h1.section-title Our Work  
  ul.work-tabbed-nav
    li(data-nav="murals").work-tab.tab-murals.is-active Interior Murals
    li(data-nav="fine-art").work-tab.tab-fine-art: a(href='#/fine-art') Fine Art
    li(data-nav="custom-art").work-tab.tab-framed: a(href='#/custom-art') Custom Art
  ul.work-list
    li.work-item
      a.desc(href="img/work-mural-full-before-01.jpg",rel="group-murals")
        .title Before
        .type Acrylic
        .dimension 
      img(src='img/work-mural-tn-before-01.jpg',alt="")
    li.work-item
      a.desc(href="img/work-mural-full-after-01.jpg",rel="group-murals")
        .title After
        .type Acrylic
        .dimension 
      img(src='img/work-mural-tn-after-01.jpg',alt="")
    li.work-item
      a.desc(href="img/work-mural-full-before-02.jpg",rel="group-murals")
        .title Before
        .type Acrylic
        .dimension 
      img(src='img/work-mural-tn-before-02.jpg',alt="") 
    li.work-item
      a.desc(href="img/work-mural-full-after-02.jpg",rel="group-murals")
        .title After
        .type Acrylic
        .dimension 
      img(src='img/work-mural-tn-after-02.jpg',alt="") 
    li.work-item
      a.desc(href="img/work-mural-full-03.jpg",rel="group-murals")
        .title After
        .type Acrylic
        .dimension 
      img(src='img/work-mural-tn-03.jpg',alt="")
    li.work-item
      a.desc(href="img/work-mural-full-05.jpg",rel="group-murals")
        .title Grand Canyon
        .type Acrylic
        .dimension 
      img(src='img/work-mural-tn-05.jpg',alt="")  
    li.work-item
      a.desc(href="img/work-mural-full-06.jpg",rel="group-murals")
        .title Grand Canyon
        .type Acrylic
        .dimension 
      img(src='img/work-mural-tn-06.jpg',alt="")                                         