section#section-our-mission
  h1.section-title About Us  
  h2.page-title Our Mission
  p We strive to create beautiful affordable art for homes, businesses and institutions. 
    |A brilliantly designed mural can transform your space, inspiring and delighting all who witness it.  
    |We seek to create an atmosphere that ignites the imagination, with special care taken to engage you 
    |in the creative process. We aim to make it accessible for everyone, you don&rsquo;t need a big budget to have
    |captivating art in your space!
  p Not only do we want to provide beautiful artwork for your space, we want to make it BIG!
    |Imagine customers walking through the lobby of your office building, enthralled by an incredible mural painted throught the halls.
    |Or unleash the imaginations of school children with a fascinating display splayed across the classroom or auditorium.
    |Medical offices, retail stores, restaurants and cafes, event venues, and more, there is truly no limit to where you can captivate. 
  p We believe that the customer should be a part of the creative process in order to make their artwork truly personal. 
    |Our focus on providing a stellar customer experience and delivering a superior quality product sets us apart from other artists. 
    |We serve Southern California, from Los Angeles to San Diego and everything in between. <a href="#/contact">Contact us</a> to find out how we can use 
    |art to delight YOUR world!    