section#section-our-mission
  h1.section-title About Us  
  h2.page-title Our Mission
  p We strive to create beautiful affordable art for homes, businesses and institutions. 
    |A brilliantly designed mural can transform your space, inspiring and delighting all who witness it.  
    |We seek to create an atmosphere that ignites the imagination, with special care taken to engage you 
    |in the creative process. We aim to make it accessible for everyone, you don&rsquo;t need a big budget to have
    |captivating art in your space!
  p We believe that the customer should be a part of the creative process in order to make their artwork truly personal. 
    |Our focus on providing a stellar customer experience and delivering a superior quality product sets us apart from other artists. 
    |We serve Southern California, from Los Angeles to San Diego and everything in between. <a href="#" class="contact-link">Contact us</a> to find out how we can use 
    |art to delight YOUR world!    