section#section-services
  h1.section-title Our Services  
  h2.page-title Services
  h3 What We Offer:
  ul 
    li Murals
    li Portraits
    li Canvas
    li Framed Artwork
    li Art Lessons
  h3 Where We Serve
  p J&amp;J is based in Orange County, CA. We cover Los Angeles to San Diego and everything in between! If you are outside 
    |this area, please contact us and we will find a way to work with you. If you are requesting a canvas for your mural, 
    |we can work from our studio and arrange for delivery or pickup.
  h3 The Creative Process
  